<footer class='footer'>
  <div class='footer__wrapper'>
    <div class='footer__top'>
      <a class="footer__logo-link" href="https://gyre.tv">
        <img class='footer__logo' src="{{ site.baseurl }}/assets/images/logo.svg" alt=''/>
        <span class="blog__go-to-website">Go to the website</span>
      </a>
      <div class='footer__contacts'>
        <ul class='footer__socials-list'>
          <li class="footer__social-item footer__social-item--email">
            <a class='footer__social-link footer__email' href='mailto:contact@gyre.tv'>
              contact@gyre.tv
            </a>
          </li>
          <li class='footer__social-item footer__discord-btn'>
            <a
              class='footer__social-link footer__social-link--discord'
              href='https://discord.gg/ZeSeUt3wEj'
              target='_blank'
              rel='noreferrer'
              aria-label='Discord'>
              <img src="{{ site.baseurl }}/assets/images/discord-icon.svg" alt="">
              Discord community
            </a>
          </li>
          <li class='footer__social-item footer__twitter-btn'>
            <a
              class='footer__social-link footer__social-link--twitter'
              href='https://twitter.com/GyreTv'
              target='_blank'
              rel='noreferrer'
              aria-label='Twitter'>
              <img src="{{ site.baseurl }}/assets/images/twitter-icon.svg" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class='footer__bottom'>
          <span class='footer__copyright'>
            © {{ 'now' | date: "%Y" }} Gyre
            <a class='footer__privacy-link' href='https://gyre.tv/privacy-policy'>Privacy policy</a>
          </span>
      <span class='footer__designer'>
            Designed with love by
            <a
              class='footer__designer-link'
              href='https://www.behance.net/pteeradukteel'
              target='_blank'
              rel='noreferrer'>
              Maxim Cheremisov
            </a>
          </span>
    </div>
  </div>
</footer>