<section class="splide">
  <div class="splide__title-wrapper">
    <h2 class="splide__title">Related topics</h2>
    <div class="splide__arrows splide__arrows--ltr">
      <button
        class="splide__arrow splide__arrow--prev"
        type="button"
        aria-label="Previous slide"
        aria-controls="splide01-track"
      >
        ←
      </button>
      <button
        class="splide__arrow splide__arrow--next"
        type="button"
        aria-label="Next slide"
        aria-controls="splide01-track"
      >
        →
      </button>
    </div>
  </div>
  <div class="splide__track">
    <ul class="splide__list">
      {% for post in site.related_posts %}
      <li class='blog__articles-item splide__slide'>
        <a href='{{ post.url }}' class='blog__article-preview'>
          <img src='{{ site.baseurl }}/{{post.preview}}' alt=''/>
        </a>
        <div class='blog__article-info-wrapper'>
          <div class='blog__article-title-wrapper'>
            <span class='blog__publishing-date'>{{ post.date | date: "%-d %B %Y" }} • {{post.time_to_read}}</span>
            <h2 class='blog__article-title'>{{ post.title }}</h2>
          </div>
          <a class='blog__read-link' href='{{ post.url }}'>
            <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
              <rect x='15.8906' y='7.19669' width='2' height='14' rx='1' transform='rotate(45 15.8906 7.19669)'
                    fill='#F4F5F8'/>
              <path
                d='M8.10938 8.90381C7.55709 8.90381 7.10938 8.45609 7.10938 7.90381C7.10937 7.35152 7.55709 6.90381 8.10938 6.90381L16.5947 6.90381C17.13 6.90381 17.5705 7.32549 17.5937 7.86037L17.9473 15.9921C17.9713 16.5439 17.5434 17.0106 16.9916 17.0346C16.4399 17.0586 15.9731 16.6307 15.9492 16.079L15.6372 8.90381H8.10938Z'
                fill='#F4F5F8'/>
            </svg>
          </a>
        </div>
        <div class='blog__article-description'>{{post.excerpt}}</div>
        <div class='blog__categories'>
          {% for category in post.categories %}
          <span class='blog__category blog__category--{{category | downcase}}'>{{ category }}</span>
          {% endfor %}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>